$header-height: 75px;
$sub-menu-border: 1px solid $base-color;
$drop-down-menu-width: 100px;

.header,
.header_link-wrapper {
    display: flex;
    align-items: center;
    z-index: 20;
}

.header {
    justify-content: space-between;
    height: $header-height;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

.header ul {
    padding-left: 0px;
}

.header_logo {
    margin-left: 10px;
}

.header_logo div {
    width: 150px;
}

.desktop-menu {
    padding-right: 2vw;
    height: 100%;
}

.desktop-menu .header_link-wrapper {
    width: 100%;
    justify-content: end;
    height: 100%;
    gap: 3vw;
}

.header_link-wrapper_list-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link,
.header_sub-link {
    color: $base-color;
}

.header_link-wrapper_list-item:hover,
.header_link-wrapper_list-item:active {
    .header_link {
        color: $highlight-color
    }

    .header_sub-menu {
        display: flex;
    }
}

.header_sub-menu {
    display: none;
    max-width: 150px;
    flex-direction: column;
    background-color: white;
}

.desktop-menu .header_sub-menu {
    top: $header-height;
    position: absolute;
    padding: 0px;
    border-bottom: $sub-menu-border;
    border-right: $sub-menu-border;
    border-left: $sub-menu-border;
}

.header_sub-menu li {
    position: relative;
    text-align: center;
    padding: 1vh .5vw;
}

li:has(>.header_sub-link:hover),
li:has(>.header_sub-link:active) {
    background-color: $highlight-color;

    .header_sub-link {
        color: white;
    }
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: $base-color;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

// mobile

.mobile-menu {
    display: none;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mobile-menu .header_link-wrapper {
    display: none;
    flex-direction: column;
    z-index: 20;
    position: absolute;
    background-color: white;
    top: $header-height;
    right: 0px;
    width: $drop-down-menu-width;
}

.mobile-menu .header_link,
.mobile-menu .header_sub-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu .header_sub-menu li {
    padding: 0px;
}

.mobile-menu .header_sub-menu {
    right: $drop-down-menu-width;
    position: absolute;
    width: $drop-down-menu-width;
    top: 0;
}

.mobile-menu:hover .header_link-wrapper {
    display: flex;
}

.mobile-menu .header_link-wrapper li,
.mobile-menu .header_link-wrapper li div {
    padding: 5px 3px;
}

.menu_image {
    height: 50px;
    width: 50px;
    margin-right: 25px;
}

.mobile-menu .header_link-wrapper_list-item {
    flex-direction: column;
    position: relative;
    width: 100%;
}

.mobile-menu .header_link-wrapper:last-child {
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: $small-font-size;
    }
    .header_donate-button,
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }
}