
/* container for whole events section */
.events {
    display: flex;
    flex-direction: column;
    padding: 7%;
}

.events_title {
    color: $base-color;
    font-family: $title-font;
    font-size: $title-font-size;

}

/* list of each event */
.events_eventList {
    background-color: $neutral-color;
    padding-right: 5%;
    padding-left: 5%;
    font-size: $small-font-size;

    li:last-child {
        border-bottom: 0px;
    }
}

/* each individual event */
.eventList_event {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid $accent-color;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    justify-content:space-between;
}

/* container for date, month, year, time */
.eventList_event--date-container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $base-color;
    gap: .4vh;
    width: 100px;
}

/* month and day */
.eventList_event--date {
    font-size: $small-font-size;
    font-weight: bold;
}

.eventList_event--title {
    font-family: $title-font;
    color: $highlight-color;
    font-size: $subtitle-font-size;
    padding-left: 35px;
    flex: 2;
}

.eventList_event--location {
    font-size: $small-font-size;
    color: $base-color;
}

.eventList_event--time {
    color: $base-color;
    font-size: $small-font-size;
}

.eventList_event--tickets {
    background-color: $accent-color;
    color: white;
    font-family: $title-font;
    font-size: $subtitle-font-size;
    padding: 1%;
}

.eventList_event--tickets a,
.eventList_event--tickets a:visited {
    color: white;
}

.eventList_event--location a,
.eventList_event--location a:hover,
.eventList_event--location a:visited {
    color: $base-color;
}


@media screen and (max-width: 800px) {
    .events_title {
        font-size: 3em;
        padding-top: 4%;
    }

    .eventList_event--title {
        padding-left: 0px;
        flex: 2;
    }

    .eventList_event--location {
        font-size: $small-font-size;
    }

    .eventList_event--time {
        font-size: $small-font-size;
    }

    .eventList_event {
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: .75vh;
    }

    .eventList_event--date {
        font-size: $small-font-size;
    }
}