.card-to-culture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3em solid $highlight-color;
    padding: 5%;
    margin-top: 5%;

}

.card-to-culture_title {
    font-family: $title-font;
    color: $base-color;
    font-size: $title-font-size;
}

.card-to-culture_text {
    line-height: 1.5;
    color: $base-color;

    a {
        text-decoration: none;
        font-weight: bold;
        background-color: #FFE3C7;
    }

    a:visited {
        color: $base-color;
    }
}