$base-color: #0023E8;
$highlight-color: #FF0074;
$highlight-color--light: #ff3892;
$neutral-color: #EAF3FF;
$accent-color: #FFC382;

$base-font: 'Lato';
$title-font: 'Fraunces';
$title-font-size: 56px;
$subtitle-font-size: 18pt;
$small-font-size: 12pt;