$cover-height: 800px;

.cover {
    height: $cover-height;
    width: 100%;
}

.cover_background {
    display: flex;
    align-items: stretch;
    position: absolute;
    height: $cover-height;
    width: 100%;
    justify-content: flex-end;
}

.cover_color-block {
    background-color: $neutral-color;
    width :100%;
    height: 100%;
}

.cover_photo {
    width: 1000px;
    background-image: url('../images/cover-photo.jpeg');
    background-position: right;
    background-repeat: no-repeat;
}

.cover_foreground {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 7;
    align-items: center;
    display: flex;
    padding-left: 8%;
    font-family: $title-font;
}

.cover_welcome-text--small {
    font-size: 25px;
    color: $highlight-color;
}

.cover_welcome-text--large {
    font-size: 135px;
    color: $base-color;
    line-height: 1;
}

.cover_welcome-text_social-media-icons {
    padding-top: 5%;
    font-size: 30px;

    a {
        color: white;
        background-color: $accent-color;
        padding-left: 2%;
        padding-right: 2%;
    }
}