.header,
.header_link-wrapper {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.header_logo {
    max-width: 200px;
    margin-left: 10px;
}

.header_link-wrapper {
    width: 100%;
    justify-content: end;
}

.header_link {
    color: $base-color;
    padding: 8px;
    text-decoration: none;
}

.header_link:hover,
.header_link:active {
    color: $highlight-color
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 16px;
        

        img {
            width: 100px;
        }
    }

    .header_link {
        padding-left: 6x;
        padding-right: 6px;
    }

    .header_donate-button {
        display: none;
    }
}