$header-height: 8vh;

.header,
.header_link-wrapper {
    display: flex;
    align-items: center;
    z-index: 20;
}

.header {
    justify-content: space-between;
    height: $header-height;
}

.header_logo {
    max-width: 200px;
    margin-left: 10px;
}

.header_link-wrapper {
    width: 100%;
    justify-content: end;
    padding-right: 2vw;
    height: 100%;
    gap: 3vw;
}

.header_link-wrapper_list-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link,
.header_sub-link {
    color: $base-color;
}

.header_link-wrapper_list-item:hover,
.header_link-wrapper_list-item:active {
    .header_link {
        color: $highlight-color
    }

    .header_sub-menu {
        display: flex;
    }
}

.header_sub-menu {
    display:none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: $header-height;
    padding: 0px;
}

.header_sub-menu li {
    position: relative;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

li:has(>.header_sub-link:hover),
li:has(>.header_sub-link:active) {
    background-color: $highlight-color;

    .header_sub-link {
        color: white;
    }
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: $base-color;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: $small-font-size;
    }

    .header_logo {
        max-width: 100px;
    }

    .header_link {
        padding-left: 6x;
        padding-right: 6px;
    }

    .header_donate-button {
        display: none;
    }
}