@import 'constants';
@import 'components';

// Pages
@import 'index';
@import 'about';
@import 'contentful-productions';
@import 'contentful-personnel';
@import 'contact';
@import 'events';


html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
}

body {
    font-family: $base-font;
    font-size: $small-font-size;
    margin: 0px;
    position: relative;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

.section-title {
    color: $base-color;
    font-size: $title-font-size;
    font-family: $title-font;
    text-align: center;
}

.section-subtitle {
    color: $highlight-color;
    font-size: $subtitle-font-size;
    font-family: $title-font;
}

.circular-headshot {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;

    img {
        object-position: center top;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.visible {
    display: flex;
}

.not-visible {
    display: none;
}