@import 'constants';

@import 'index/aboutUs';
@import 'index/cardToCulture';
@import 'index/contact';
@import 'index/cover';
@import 'index/events';
@import 'index/ourTeam';
@import 'index/sponsors';

@import 'donateButton';
@import 'layout';


html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
}

body {
    font-family: $base-font;
    font-size: $small-font-size;
    margin: 0px;
    min-height: 100vh;
    position: relative;
}

