@import 'constants';

@import 'aboutUs';
@import 'cardToCulture';
@import 'contact';
@import 'cover';
@import 'events';
@import 'header';
@import 'ourTeam';
@import 'sponsors';

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: $base-font;
    margin: 0px;
    min-height: 100vh;
    position: relative;
}