.sponsors {
    display: flex;
    margin-top: 5%;
    border: 5em solid $highlight-color;
}

.sponsors-text {
    width: 70%;
    padding: 5%;
}

.sponsors-text_title {
    font-size: $title-font-size;
    font-family: $title-font;
    color: $base-color;
}

.sponsors_list-item {
    display: flex;
    justify-content: center;
}

.sponsors-name {
    width: 50%;
    color: $base-color;
    font-size: 25px;
}

.sponsors-photo img{
    height: 50px;
}