.production_dates {
    display: flex;
    justify-content: space-around;
    padding: 3vh 0vw;
}

.event_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
    color: $base-color;
    font-family: $title-font;
}

.event_date .tickets-button {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .production_dates {
        flex-direction: column;
    }

    .event_date {
        padding-top: 2vh;
    }

    
}